$BRAND_COLOR_ORANGE: #FC7F17;
$BRAND_COLOR_ORANGE_DARKEST: #884D09;

$BRAND_COLOR_BLUE: #13BBD2;

$BACKGROUND_COLOR: #000821;

$NEUTRAL_DARKEST: #212221;
$NEUTRAL_MEDIUM: #929292;
$NEUTRAL_LIGHT: #D6D6D6;
$NEUTRAL_LIGHTEST: #F1F3F4;

$WHITE: #FFFFFF;
$BLACK: #000000;

$SUCCESS_2: #B4D1E8;
$SUCCESS: #BCE0C6;
$WARNING: #FFF4CB;
$ALERT: #F01C04;